.film-infor #film-scroll::-webkit-scrollbar{
  width: 5px;
  }
.film-infor #film-scroll::-webkit-scrollbar-thumb{
  background-color: #FF8D1B;
  border-radius: 5px;
}
.film-infor #film-scroll::-webkit-resizer{
  height: 100px;
}
.film-infor .side-content .trailer a{
  text-decoration: none;
  color: black;
}
.film-infor .side-content .trailer a img:hover,
.film-infor .side-content .list-film-news a img:hover{
  text-decoration: none;
  transition: .3s ease;
  opacity: 0.8;
}
.film-infor .side-content .trailer a:hover,
.film-infor .side-content .list-film-news a:hover{
  text-decoration: none;
  transition: .3s ease;
  color: #FF8D1B;
}
.film-infor .films-rela a{
  color: black!important;
}
.film-infor .films-rela a:hover{
  text-decoration: none;
  transition: .3s ease;
  color: #FF8D1B!important;
}
.film-infor .films-rela a img:hover{
  transition: .3s ease;
  opacity: 0.6;
}
@media screen and (max-width: 767px){
  .film-infor .main-content img{
    height: 230px;
  }
  .film-infor .main-content .infor-scroll{
    height: 300px;
    overflow-y: scroll;
  }
  .film-infor .films-rela a img{
  height: 170px;
  }
}
@media screen and (min-width: 768px){
  .film-infor .main-content img{
    height: 340px;
  }
  .film-infor .main-content .infor-scroll{
    height: 300px;
    overflow-y: scroll;
  }
  .film-infor .side-content a img{
  height: 65px;
  }
  .film-infor .side-content .side-scroll{
    height: 300px;
    overflow-y: scroll;
  }
  .film-infor .films-rela a img{
  height: 200px;
  }
}
@media screen and (min-width: 992px){
  .film-infor .main-content img{
    height: 400px;
    width: 96%;
    margin-left: 2%;
  }
  .film-infor .main-content #film-scroll{
    min-height: 350px;
    max-height: 350px;
    overflow-y: scroll;
  }
  .film-infor .side-content a img{
  height: 100px;
  }
  .film-infor .side-content .side-scroll{
    height: 500px;
    overflow-y: scroll;
  }
  .film-infor .films-rela a img{
  height: 320px;
  }
}

.main-content .btn-block {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: 10px 0px;
  margin: 0px;
  list-style: none;
}

.main-content .block-movie-info {
  max-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-title-info,
.p-title-box {
  text-transform: uppercase;
  border-bottom: 1px solid #FF8D1B;
  margin-bottom: 10px;
  color: #FF8D1B!important;
  padding-bottom: 5px;
  font-weight: bold;
}

.p-title-info {
  font-size: 14px;
}


