
body .bg-light{
  font-family: 'Asap', sans-serif;
}
.mycolor{
  color: #FF8D1B!important; 
}

/*--header content css--*/
  .header-content{
    background-color: #ecf0f1!important;
  }
  .header-content .btn{
    border-radius: 20px;
  }
  .header-content .btn-warning{
    background-color: #FF8D1B;
  }
  .header-content .btn-warning:hover{
    background-color: #0f0703;
    transition: 1s ease;
    color: white;
  }
  .header-content .btn-warning:focus{
    outline: none !important;
    box-shadow: none!important;
  }
  .header-content input::placeholder{
    color: #0f0703;
  }
  .header-content .btn-secondary{
    background-color: #bdc3c7;
  }
  @media screen and (min-width: 1200px){
    .header-content img{
      width: 80px!important;
    }
  }
  .header-content .btn-secondary:focus{
    outline: none !important;
    box-shadow: none!important;
  }

/*--navbar content css--*/
  .navbar .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle{
    background-color: #0f0703;
    height: 100%;
    border: #0f0703;
    border-radius: 0;
  }
  .nav-content .bg-warning{
    background-color: #FF8D1B!important;
  }
  .navbar .btn-warning{
    background-color: #FF8D1B;
    border-color: #FF8D1B;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: white!important;
    }
  .navbar .btn-warning:hover{
    color: #0f0703;
    transition: 1s ease;
    opacity: 1!important;
    background-color: #0f0703;
    border: #0f0703;
    height: 100%;
  }
  .nav-content .navbar .dropdown:hover{
    height: 101%;
  }
  .nav-content .navbar .dropdown:hover>.dropdown-menu{
    display: flex;
    top: 97%;
  }
  /*.nav-content .navbar .dropdown:hover .dropdown-toggle{
    background-color: #0f0703;
  }*/
  .nav-content .dropdown-item:active{
    background-color: #0f0703;
  }
  .nav-content .dropdown-item:hover{
    transition: .5s ease;
    color: #FF8D1B;
  }
  .nav-content .navbar-dark .navbar-nav .nav-link{
    font-size: 14px!important;
  }
  @media screen and (max-width: 576px){
    .nav-content .dropdown .dropdown-menu1{
      font-size: 13px!important;
    }
  }
  @media screen and (min-width: 576px){
    .nav-content .dropdown .dropdown-menu1{
      width: 500px!important;
      font-size: 16px!important;
    }
    .nav-content .dropdown .dropdown-menu2{
      width: 500px!important;
      font-size: 16px!important;
    }
  }
  @media screen and (min-width: 992px){
    .nav-content .dropdown .dropdown-menu1{
      width: 700px!important;
      font-size: 16px!important;
    }
    .nav-content .dropdown .dropdown-menu2{
      width: 500px!important;
      font-size: 16px!important;
    }
  }

/*--slide content css--*/
    .slideshow .bg-dark{
    background-color: #0f0703!important;
    }
    @media screen and (min-width: 768px){
      .slideshow .carousel-inner{
        height: 350px!important;
      }
    }
    @media screen and (min-width: 992px){
      .slideshow .carousel-inner{
        height: 430px!important;
      }
    }
    @media screen and (min-width: 1200px){
      .slideshow .carousel-inner{
        height: 550px!important;
      }
    }
    .slideshow .bd{
      margin-top: 5px;
      border: 0.5px dashed #636e72!important;
    }
    .slideshow a{
      text-decoration: none;
      color: #FF8D1B;
      font-weight: bold;
      transition: .5s ease;
    }
    .slideshow a:hover{
      text-decoration: none;
      color: white;
    }
    .slideshow .nav-link:hover{
      transition: .9s ease;
    }

/*--Start featured content--*/
    .featured-movies .box-overlay{
      position: relative;
    }
    .featured-movies .overlay{
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0%;
      opacity: 0;
      background-color: #0f0703;
      transition: .7s ease;
    }
    .featured-movies .overlay:hover{
      opacity: 0.7;
      transition: .7s ease;
    }
    .featured-movies .overlay .play-icon{
      position: absolute;
      top: 40%;
      left: 39%;
      z-index: 2;
      color: white;
      transition: 1 ease;
    }
    .featured-movies .overlay .play-icon:hover{
      transition: .5s ease;
    }
    
    .featured-movies .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
      color: white;
      background-color: #FF8D1B;
    }
    .featured-movies .tab-content .container .box-title a:hover,
    .featured-movies .container .box-title a:hover{
      text-decoration: none;
      color: #FF8D1B!important;
      transition: .5s ease;
    }
    .featured-movies .btn-light{
      background-color: #c8c9ca;
    }
    .featured-movies .btn-light:focus{
      outline: none !important;
      box-shadow: none!important;
    }
    @media screen and (max-width: 575px){
      .featured-movies .tab-content img{
        height: 150px!important;
      }
    }
    @media screen and (min-width: 576px){
      .featured-movies .tab-content img{
        height: 200px!important;
      }
    }
    @media screen and (min-width: 768px){
      .featured-movies .tab-content img{
        height: 200px!important;
      }
    }
    @media screen and (min-width: 992px){
      .featured-movies .tab-content img{
        height: 250px!important;
      }
    }
    @media screen and (min-width: 1200px){
      .featured-movies .tab-content img{
        height: 220px!important;
      }
    }

/*--Start series and anime--*/
    .featured-series-anime .box-overlay{
      position: relative;
    }
    .featured-series-anime .overlay{
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0%;
      opacity: 0;
      background-color: #0f0703;
      transition: .5s ease;
    }
    .featured-series-anime .overlay:hover{
      opacity: 0.7;
    }
    .featured-series-anime .overlay .play-icon{
      position: absolute;
      top: 40%;
      left: 34%;
      z-index: 2;
      color: white;
    }
    .featured-series-anime .overlay i{
      font-size: 60px;
    }
    .featured-series-anime .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
      color: white;
      background-color: #FF8D1B;
    }
    .featured-series-anime .btn-light{
      background-color: #c8c9ca;
    }
    .featured-series-anime .btn-light:focus{
      outline: none !important;
      box-shadow: none!important;
    }
    @media screen and (max-width: 575px){
      .featured-series-anime .tab-content img{
        height: 150px!important;
      }
    }
    @media screen and (min-width: 576px){
      .featured-series-anime .tab-content img{
        height: 200px!important;
      }
    }
    @media screen and (min-width: 768px){
      .featured-series-anime .tab-content img{
        height: 200px!important;
      }
    }
    @media screen and (min-width: 992px){
      .featured-series-anime .tab-content img{
        height: 250px!important;
      }
    }
    @media screen and (min-width: 1200px){
      .featured-series-anime .tab-content img{
        height: 220px!important;
      }
    }

/*--Start footer--*/
  .footer .bg-dark{
    background-color: #0f0703!important;
  }
  .goup{
    position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
  }

  body .btn-outline-warning{
    background-color: #FF8D1B;
    color: black!important;
  }
  body .btn-outline-warning:hover{
    background-color: #0f0703;
    transition: .5s ease;
    color: white!important;
  }

/*genres content css*/
  .content-one .box-overlay{
    position: relative;
  }
  .content-one .overlay{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0%;
    opacity: 0;
    background-color: #0f0703;
    transition: .7s ease;
  }
  .content-one .overlay:hover{
    opacity: 0.7;
    transition: .7s ease;
  }
  .content-one .overlay .play-icon{
    position: absolute;
    top: 40%;
    left: 34%;
    z-index: 2;
    color: white;
    transition: 1 ease;
  }
  .content-one .overlay .play-icon:hover{
    transition: .5s ease;
  }
  .content-one .overlay i{
    font-size: 60px;
    transition: 1 ease;
  }
  .content-one .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
    color: #0f0703;
    background-color: #FF8D1B;
  }
  .content-one .tab-content .container .box-title a:hover{
    text-decoration: none;
    color: #FF8D1B!important;
    transition: .5s ease;
  }
  .content-one .btn-light{
    background-color: #c8c9ca;
  }
  .content-one .box-title a:hover{
    text-decoration: none!important;
    transition: .5s ease;
    color: #FF8D1B!important;
  }
  @media screen and (max-width: 575px){
    .content-one .box-overlay img{
      height: 200px!important;
    }
  }
  @media screen and (min-width: 576px){
    .content-one .box-overlay img{
      height: 200px!important;
    }
  }
  @media screen and (min-width: 768px){
    .content-one .box-overlay img{
      height: 200px!important;
    }
  }
  @media screen and (min-width: 992px){
    .content-one .box-overlay img{
      height: 250px!important;
    }
  }
  @media screen and (min-width: 1200px){
    .content-one .box-overlay img{
      height: 220px!important;
    }
  }

/*sign up content .css*/
  

/*single content .css*/
  .single-content .carousel {
    width: 100%;
  }

  .single-content .slide-box {
    justify-content: space-between;
  }
  .single-content .carousel-inner .carousel-item .slide-box img{
    width: 100%;
    height: 120px;
  }
  @media screen and (max-width: 576px){
    .single-content .carousel-inner .carousel-item .slide-box img{
      height: ;
    }
  }
  @media screen and (min-width: 768px){
    .single-content .carousel-inner .carousel-item .slide-box img{
      height: ;
    }
  }
  @media screen and (min-width: 1200px){
    .single-content .carousel-inner .carousel-item .slide-box img{
      height: 130px ;
    }
  }
  .film-box div .bg-secondary{
    background-color: #b2bec3!important;
  }
  .single-content .carousel-control-prev{
    left: 1.4%!important;
    width: 3%;
  }
  .single-content .carousel-control-next{
    right: 1.4%!important;
    width: 3%;
  }
  .single-content .slide-box a:hover{
    text-decoration: none;
    transition: .5s ease;
    color: #FF8D1B!important;
  }
  .film-box .d-flex .col-6 .btn-warning{
    border: none;
    background-color: #FF8D1B!important;
    transition: .5s ease;
  }
  .film-box .d-flex .col-6 .btn-warning:hover{
    border: none;
    background-color: #0f0703!important;
    color: white;
    transition: .5s ease;
  }

/*contact content css*/
  .contact p{
    white-space: pre-wrap
  }

  .ribbon{
	    position: absolute;
	    color:#fff;
	    background: #A21D0A;
	    font-size: 11px;
	    font-weight: bold;
	    float: left;
	    clear: both;
	    padding: 4px;
	    text-shadow:1px 1px 2px #111;
	    left: 2px;
	    top: 5px;
		white-space: nowrap;
		display: inline-block;
		-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	}
	.ribbon:after{
		content:"";
		float: right;
		position:absolute;
		top:0;
		right: -12px;
		width:0;
		height:0;
		border-color:transparent transparent transparent #A21D0A;
		border-style:solid;
		border-width: 11px 0 12px 12px;		
  }
.tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tag-list .tag-item {
    display: inline-block;
}
.tag-list .tag-item:after
{
  content: ",\00a0";
}
.tag-list .tag-item .tag-link
{
  white-space: nowrap;
}
.tag-list .tag-item:last-child:after
{
  content: "";
}
.tag-link {
  white-space: nowrap;
  color: #999;
  font-size: 13px;
}
.tag-link:hover {
  text-decoration: none;
  color: #FF8D1B;
}
.nav-content .dropdown-item:active{
    background-color: #0f0703;
  }
  .nav-content .dropdown-item a:hover{
    text-decoration: none;
    color: #FF8D1B !important;
  }

.carousel-inner > .carousel-item > img {
  height: 100%;
  margin: auto;
}
   
.td-post-tag .tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.td-post-tag .tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 13px;
}

.td-post-tag .tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.td-post-tag .tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.td-post-tag .tag:hover {
  background-color: #FF8D1B;
  color: white;
}

.td-post-tag .tag:hover::after {
   border-left-color: #FF8D1B; 
}

.film-box .movie-image
{
	left: 0;
	top: 10px;
	width: 168px !important;
}
.film-box .movie-l-img
{
  position: relative;
  width: 168px !important;
}
.movie-watch-link-box
{
	overflow: hidden;
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.movie-watch-link-box > .movie-watch-link
{
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.movie-watch-link-box > .movie-watch-link:hover
{
  background-color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  color: #FF8D1B;
}

.positon-info {
    position: fixed;
    padding-right: 2rem;
    right: 0;
    z-index: 10;
}

.positon-info ul {
    list-style: none;
}

.position-alert {
    position: relative;
}

.form-group.required label:after {
    content: " *";
    color: red;
    font-weight: bold;
}


@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.carousel-caption h5 {
	font-size: 50px;
}

.item3 {
	animation-name: ani3;
	animation-duration: 6s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

@keyframes ani3 {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-50px, 0, 0);
		transform: translate3d(-50px, 0, 0);
	}

	20%, 80% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-50px, 0, 0);
		transform: translate3d(-50px, 0, 0);
	}
}

ul.breadcrumb{
  outline-style: none;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  display: block;
  padding: 0.75rem;
  background: #fff;
}
ul.breadcrumb li{
  display: inline-block;
  text-decoration: none;
}
ul.breadcrumb li a{
  color: #FF8D1B;
}
ul.breadcrumb li.is-active{
  color: #848484;
}
ul.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #848484;
  content: "/\00a0";
}
/* ul.breadcrumb li a:hover{
  text-decoration: none;
} */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 50px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

/*user profile css content*/
  .user-profile .shadow{
    position: relative;
  }
  .user-profile ul.nav-pills{
    position: sticky;
    top: 20%;
    z-index: 888;
    width: 100%!important;
  }
  .user-profile .modal-content {
    z-index: 8888;
  }
  .user-profile .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #ff8d1a!important;
  }
  .user-profile .bg-warning{
    background-color: #ff8d1a!important;
  }
  .user-profile .btn-warning{
    background-color: #ff8d1a!important;
  }
  .user-profile .modal-content{
    z-index: 8888;
  }
/*user create content css*/
.login,.register{
background-image: url('https://ss-images.catscdn.vn/2018/05/04/2738296/marvel-avengers-4-title.jpg');
background-size: cover;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
height: 100vh;
z-index: -9999;
}
.login .container{
height: 100%;
align-content: center;
}

.login .card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.8) !important;
}

.login .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.login .social_icon span:hover{
color: white;
cursor: pointer;
}

.login .card-header h3{
color: white;
}

.login .social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.login .input-group-prepend span{
width: 50px;
background-color: #ff8d1a;
color: black;
border:0 !important;
}

.login input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login .remember{
color: white;
}

.login .remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login .login_btn{
color: black;
background-color: #ff8d1a;
width: 100px;
}

.login .login_btn:hover{
color: black;
background-color: white;
}

.login .links{
color: white;
}

.login .links a{
margin-left: 4px;
}

/*cut*/
.register .container{
height: 100%;
align-content: center;
}

.register .card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.8) !important;
}

.register .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.register .social_icon span:hover{
color: white;
cursor: pointer;
}

.register .card-header h3{
color: white;
}

.register .social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.register .input-group-prepend span{
width: 50px;
background-color: #ff8d1a;
color: black;
border:0 !important;
}

.register input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.register .remember{
color: white;
}

.register .remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.register .login_btn{
color: black;
background-color: #ff8d1a;
width: 100px;
}

.register .login_btn:hover{
color: black;
background-color: white;
}

.register .links{
color: white;
}

.register .links a{
margin-left: 4px;
}